body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   font-family: 'Raleway', sans-serif;
    color: #212112;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
    background-color: #fff;
    overflow-x: hidden;
      transition: all 200ms linear;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
}
::selection {
    color: #fff;
    background-color: #ff8800;
  }
  ::-moz-selection {
    color: #fff;
    background-color: #ff8800;
  }
  
h1 {
    color: white;
}
.grid-container {
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
}
.grid-container div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}
.grid-container div:hover img {
    filter: grayscale(0);
}
.grid-container div:hover {
    border-color: coral;
}
.grid-container div img {
    width: 100%;
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}
.grid-container div p {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
}


.grid-item {
    height: 200px;
    width: 1200px;
}

.footer-clean {
    font-family: 'Raleway', sans-serif;
   padding-top: 50px;
    background-color:#fff;
    color:#4b4c4d;
    position: relative;
    text-align: center;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  
 .prod1{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
 }

 .css-button-sliding-to-top--black {
  min-width: 130px;
  height: 80px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #212529;
  color: #212529;
}
.css-button-sliding-to-top--black:hover {
  color: #fff;
}
.css-button-sliding-to-top--black:hover:after {
  height: 100%;
}
.css-button-sliding-to-top--black:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #212529;
}

.no-padding{
  padding: 0px;
  width: 100%;
}